<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="tax" translate="label" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Tax</label>
            <tab>sales</tab>
            <resource>Dangs_TaxInfoHide::config_tax</resource>
            <group id="sales_display" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <field id="hide_tax" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Hide tax</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Hide tax information.</comment>
                </field>
            </group>
        </section>
    </system>
</config>
